<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soten.androidstudio.learn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".fastcampus.instagram.MasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learn"
        android:usesCleartextTraffic="true">
        <activity android:name=".boostcourse.volley.VolleyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".boostcourse.server.ChatService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".boostcourse.server.ServerActivity" />
        <activity android:name=".boostcourse.intentdemo.OutputActivity" />
        <activity android:name=".boostcourse.intentdemo.InputActivity" />

        <receiver
            android:name=".boostcourse.receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".boostcourse.receiver.ReceiverMainActivity" />

        <service
            android:name=".boostcourse.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".boostcourse.parcelable.ParcelableMenuActivity" />
        <activity android:name=".boostcourse.parcelable.ParcelableActivity" />
        <activity android:name=".boostcourse.intentdemo.CallActivity" />
        <activity android:name=".boostcourse.intentdemo.MenuActivity" />
        <activity android:name=".boostcourse.intentdemo.MainActivity" />
        <activity android:name=".fastcampus.melon.MelonActivity" />
        <activity android:name=".fastcampus.youtobe.YoutubeDetailActivity" />
        <activity android:name=".fastcampus.youtobe.YoutubeActivity" />
        <activity android:name=".fastcampus.instagram.InstagramUploadActivity" />
        <activity android:name=".fastcampus.instagram.InstagramMyPostActivity" />
        <activity android:name=".fastcampus.instagram.InstagramUserInfoActivity" />
        <activity android:name=".fastcampus.instagram.InstagramPostListActivity" />
        <activity android:name=".fastcampus.instagram.LoginActivity" />
        <activity android:name=".fastcampus.instagram.EmailSignUpActivity" />
        <activity android:name=".fastcampus.PermissionActivity" />
        <activity android:name=".fastcampus.retrofit.RetrofitActivity" />
        <activity android:name=".fastcampus.NetworkActivity" />
        <activity android:name=".fastcampus.AsyncActivity" />
        <activity android:name=".fastcampus.RealmActivity" />
        <activity android:name=".fastcampus.SharedPreferenceActivity" />
        <activity android:name=".fastcampus.tablayout.TabPager2Activity" />
        <activity android:name=".fastcampus.tablayout.TabPagerActivity" />
        <activity android:name=".fastcampus.PhoneBookWithRecyclerViewActivity" />
        <activity android:name=".fastcampus.RecyclerViewActivity" />
        <activity android:name=".fastcampus.ListViewActivity" />
        <activity android:name=".fastcampus.exam.PhoneBookDetailActivity" />
        <activity android:name=".fastcampus.exam.PhoneBookActivity" />
        <activity android:name=".fastcampus.AddViewActivity" />
        <activity android:name=".fastcampus.LibraryActivity" />
        <activity android:name=".fastcampus.ThreadActivity" />
        <activity android:name=".fastcampus.FragmentActivity" />
        <activity android:name=".fastcampus.exam.openLink" />
        <activity android:name=".fastcampus.Intent2" />
        <activity android:name=".fastcampus.Intent1" />
        <activity android:name=".fastcampus.exam.Calculator" />
        <activity android:name=".fastcampus.Listener" />
        <activity android:name=".fastcampus.LifeCycle" />
    </application>

</manifest>